
.card {
  width: 400px;
  height: 550px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #fff;
  background-color: #ceff89;
  border-color: #212529;
  border-radius: 10px;
  z-index: 1;
  /* position: relative; */
}

/*Make Above Card responsive*/
@media only screen and (max-width: 600px) {
  .card {
    width: 95%;
  }
}

body {
  background-color: #e66a6c;
}

h1 {
  /* animation: flicker 1.5s infinite alternate; */
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

@keyframes flicker {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px rgb(0, 0, 0), 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

input[type="text"] {
  width: 80%;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type="text"]:focus {
  border: 3px solid #555;
}

input[type="file"] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  color: #212529;
}

input[type="file"]:focus {
  border: 3px solid #555;
}

/* download */

button {
  height: 63px;
  /* Rounded corner downloadbutton */
  border-radius: 10px;
  /* grey black background */
  background-color: #212529;
  /* white text */
  color: #fff;
  /* padding */
  padding: 10px 20px;
  /* text decoration none */
  text-decoration: none;
  /* font size */
  font-size: 20px;
  /* font family */
  font-family: "Open Sans", sans-serif;
  /* border none */
  border: none;
  /* cursor pointer */
  cursor: pointer;
  /* Center text and image */
  display: flex;
  justify-content: center;
  align-items: center;

}

#downimg {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 0.5s;
  -webkit-user-drag: none;
}

#uping {
  background-color: #fff;
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
  border: 0px solid #fff;
  cursor: pointer;
  transition: 0.5s;
  /* avoid image draggable or selectable */
  -webkit-user-drag: none;
  user-select: none;

}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: #212529;
  background-color: #ceff89;
  border-color: #212529;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 0px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: #212529;

  border-color: #212529;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;

  font-weight: 700;
}

#showunique {
  width: 200px;
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  color: #212529;
  background-color: #ceff89;
  border-color: #212529;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
}

#showunique:hover {
  background-color: #212529;
  color: #ceff89;
  border-color: #212529;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
}

#ShowUniqueID {
  width: max-content;
  margin-top: 10px;
  text-align: center;


}

#footer {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #212529;
  /* background-color: #ceff89; */
  border-color: #212529;
  border-radius: 10px;
  /* padding: 5px 20px; */
  text-align: center;
  /* margin-top: 10px; */
}

#note {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  color: #212529;
  /* background-color: #ceff89; */
  border-color: #212529;
  border-radius: 10px;
  /* padding: 10px 20px; */
  text-align: center;
  /* margin-top: 20px; */

}




/*  */
.Drop-here{
  width: 70%;
  height: 80vh;
  border: 2px dashed #ccc;
  border-radius: 10px;
  background-color: #fff;
  color: #212529;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 10px 20px;
  /* margin: 10px 0; */
  cursor: pointer;
  transition: 0.5s;
  /* make this div com above all other div */
  position: absolute;
  top: 0;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  /* left: 0; */
  z-index: 2;
  margin-left:12%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  display:none;

}

/* when dragged the file higlight the .Drop-here div */
